/* Main css for Home, Blog, Header and Footer */

.page, .site{
    color : #474747;
}
.site__link {
    text-decoration: none;
}
a, :link {
    color: #474747 !important;
    text-decoration: none;
}
a:visited,
a:hover,
a:focus,
a:active {
    color: none;
    text-decoration: none;
}
li, ul {
    color: #474747;
    text-decoration: none;
    list-style: none;
}
nav {
    display: flex;
    width: 100%;
}
h3 {
    margin-top: 3px;
    margin-bottom : 3px !important;
}
p {
    font-size: smaller;
    margin-top: 2px;
    margin-bottom : 2px !important;
}
/******* Header : logo + menu ******/
.site__header header {
    padding: none;
}
.site__header {
    width: 100% ;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    color : #474747;
    text-decoration : none;
    padding-top: 3px;
}
.site__title {
    display: none;
}
.custom-logo {
    width: auto;
    margin: 10px;
    padding-right: 20px !important;
}
.site__header__menu {
    display: flex !important;
    justify-content: flex-end !important;
}
.header__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin: 5px;
}

.header__menu li {
    padding-right: 2em;
}
/******* Footer : social, footer menu, legals ******/
.site__footer footer {
    padding: none;
}
.menus__footer {
    display: flex !important;
    flex-direction: column;
    
}
.site__footer {
    background-color: #F5F1ED;
    width: 100% ;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    color : #474747;
    text-decoration : none;
    padding-top: 3px;
    font-size: smaller;
}
.footer__social__menu, .site__footer__menu {
    display: flex;
    justify-content: space-around;
    margin: 3px;
}
.social__menu li, .footer__menu li  {
    padding-right: 1em;
    padding-left: 1em;
}
.social__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 3px;
    margin: 3px;
}
.footer__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 3px;
    margin: 3px;
}
.site__footer__legals {
    background-color: #EEE8E1;
    color : #474747;
    font-size: 10px !important;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 5px;
    width: 100%;
}



/******* Page : header, title ******/
.page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6em;
    background-color: #EEE8E1;

}
.page__title {
    margin: 3px;
    color : #b68869;
}
main {
    width: 100%;
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.site__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.archive__description {
    height: 18px;
}
.sidebarFollow {
    height: 50px;
    background-color: #785338;
}

/* Blog home page*/
.site__blog img {
    width: auto;
} 
.site__blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px !important;
    padding-left: 20px !important;

}
.site__post {
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    width: 18em;
    text-align: center;
    margin: 2em;
}
.site__post p {
    padding: none !important;
    margin: none;
    font-size: smaller;
    text-align: center;
}
/******* Page : temoignages post + archive ******/
/****** Témoignages : post + archive ******/

.temoignages__page {
    display: flex ;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0.5em;
    padding-right: 20px !important;
    padding-left: 20px !important;
    width: 100%;
}
.temoignage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.temoignages {
    display: flex;
    flex-flow: row wrap;
}
.temoin__picture img {
    border-radius: 50%;
}
.temoin__name {
    margin: none !important;
    color: #785338;
    text-align: center;
}
.temoin__text {
    width: 10em;
}
.temoin__text p{
    text-align: center;
    font-size: 0.6em !important;
} 
