
.site__lunar {
    background-color: #F5F1ED;
    color: #474747;
}
.lunar__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
.lunar__header__menu {
    display: flex;
}
.lunar__page__title h1{
    text-align: center;
}
.lunar__page__header {
    background-color: #EEE8E1;
    height: 35px;
    color:  #474747;
}



/* TEMOIGNAGES CSS*/
.lunar_temoin_header {
    background-color: #EEE8E1;
    color : #785338;
    text-align: center;
    font-weight: 100 !important;
    padding : 2em;
    margin-bottom: 3em;
}
.lunar_temoin_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 10em;
    margin: 3em;
}
.lunar_temoin_picture img {
    border-radius: 50%;
}
.lunar_temoin_name {
    color: #785338;
    text-align: center;
}
.lunar_temoin_text{
    text-align: center;
} 


/* Page BLOG CSS*/
.lunar__site__blog img {
    width: auto;
} 
.lunar__site__blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lunar__site__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}
.lunar__site__post {
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    width: 18em;
    text-align: justify;
    margin: 2em;
}


/* ARTICLE DE BLOG CSS*/
.lunar__post__content {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}

.lunar__post__content img {
    width: 728px !important;
}
.lunar__post__meta__container {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.lunar__post__meta ul{
    text-decoration: none !important;
    list-style: none !important;
    margin: 3px;
    padding: 3px;
}
.lunar__post__meta {
    font-size: 0.5em;
    font-weight: 300;
    margin: 3px;
    padding: 3px;
}
.lunar__post__container {
    display: flex;
    justify-content: center;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
.lunar__post__container p {
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
.lunar__post__container img {
    width: 600px;
    height: auto;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
