


/* Page BLOG CSS*/
.lunar__site__blog img {
    width: auto;
} 
.lunar__site__blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lunar__site__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}
.lunar__site__post {
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    width: 18em;
    text-align: justify;
    margin: 2em;
}


/* ARTICLE DE BLOG CSS*/
.lunar__post__content {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}

.lunar__post__content img {
    width: 728px !important;
}
.lunar__post__meta__container {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.lunar__post__meta ul{
    text-decoration: none !important;
    list-style: none !important;
    margin: 3px;
    padding: 3px;
}
.lunar__post__meta {
    font-size: 0.5em;
    font-weight: 300;
    margin: 3px;
    padding: 3px;
}
.lunar__post__container {
    display: flex;
    justify-content: center;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
.lunar__post__container p {
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
.lunar__post__container img {
    width: 600px;
    height: auto;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
