/* Main css for Home, Blog, Header and Footer */

.page, .site{
    font-family: 'Raleway', sans-serif;
    color : #474747;
}
.site__link {
    text-decoration: none;
    color: inherit !important;
}
a, :link {
    color: inherit !important;
    text-decoration: none;
}
a:visited,
a:hover,
a:focus,
a:active {
    color: #474747 !important;
    text-decoration: none;
}
li, ul {
    color: #474747;
    text-decoration: none;
    list-style: none;
}
nav {
    display: flex;
    width: 100%;
}

p {
    font-size: smaller;
    margin-top: 2px;
    margin-bottom : 2px !important;
}

/******* Images sizes & css ******/

.square__S {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.square__M {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.square__L {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/******* Header : logo + menu ******/
.site__header header {
    padding: none;
}
.site__header {
    width: 100% ;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    color : #474747;
    font-family: 'Raleway', sans-serif;
    text-decoration : none;
    padding-top: 3px;
    font-family: 'Raleway', sans-serif !important;
}
.site__title {
    display: none;
}
.custom-logo {
    width: auto;
    margin: 10px;
    padding-right: 20px !important;
}
.site__header__menu {
    display: flex !important;
    justify-content: flex-end !important;
}

.header__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin: 5px;
}

.header__menu li a {
    padding-right: 2em;
    font-family: 'Raleway', sans-serif !important;
}

.menu-item a {
    color: #474747 !important;
}
/******* Footer : social, footer menu, legals ******/
.site__footer footer {
    padding: none;
}
.menus__footer {
    display: flex !important;
    flex-direction: column;
    
}
.site__footer {
    background-color: #F5F1ED;
    width: 100% ;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    color : #474747;
    text-decoration : none;
    padding-top: 3px;
    font-size: smaller;
    font-family: 'Raleway', sans-serif !important;
    
}
.footer__social__menu, .site__footer__menu {
    display: flex;
    justify-content: space-around;
    margin: 3px;
}
.social__menu li, .footer__menu li  {
    padding-right: 1em;
    padding-left: 1em;
    font-family: 'Raleway', sans-serif !important;
}
.social__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 3px;
    margin: 3px;
    
}
.footer__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 3px;
    margin: 3px;
    
}
.site__footer__legals {
    background-color: #EEE8E1;
    color : #474747;
    font-size: 10px !important;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 5px;
    width: 100%;
}



/******* Page : header, title ******/
.page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 7.2em;
    background-color: #EEE8E1;
    margin-bottom: 20px ;
}
.page__title {
    font-size: 2.2em;
}
.page__content {
    margin-left : 20px !important;
    margin-right: 20px !important;
}
.section__title h3, .section__title {
    border: none;
    color: #474747 !important;
    margin: 3px ;
    width: 100%;
    padding: 0.5em;
}
main {
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
.site__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    font-family: 'Raleway', sans-serif;
    width: 100%;    
}

.site__button {
    display: inline;
    color: white ;
    background-color: #B68869 ;

    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
}
.site__button a {
    color: white;
    text-decoration: none;
}  
.archive__description {
    height: 18px;
}

/***** Blog home page *****/
.site__blog img {
    width: auto;
} 
.site__blog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-right: 20px !important;
    padding-left: 20px !important;

}
.site__post {
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    width: 18em;
    margin-right: 2em;
    margin-left: 2em;
    text-align: justify;
}

/*** Post, articles de blog ***/
.site__post__content {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}

.site__post__content img {
    width: 728px !important;
}
.site__post__meta__container {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.site__post__meta ul{
    text-decoration: none !important;
    list-style: none !important;
    margin: 3px;
    padding: 3px;
}
.site__post__meta {
    font-size: 0.5em;
    font-weight: 300;
    margin: 3px;
    padding: 3px;
}
.site__post__container {
    display: flex;
    justify-content: center;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
.site__post__container p {
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
img .site__post__container {
    width: 400px;
    height: auto;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}




/****** Témoignages : post + archive ******/

.temoignages__page {

    margin: 0.5em;
    padding-right: 20px !important;
    padding-left: 20px !important;
    width: 100%;
}
.temoignage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.temoignages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.temoin__picture img {
    border-radius: 50%;
}
.temoin__name {
    margin: none !important;
    color: #785338;
    text-align: center;
}
.temoin__text {
    width: 10em;
}
.temoin__text p{
    text-align: center;
    font-size: 0.6em !important;
} 
