


/* Page BLOG CSS*/
.lunar__site__blog img {
    width: auto;
} 
.lunar__site__blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lunar__site__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}
.lunar__site__post {
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    width: 18em;
    text-align: justify;
    margin: 2em;
}


/* ARTICLE DE BLOG CSS*/
