/* Main css for Home, Blog, Header and Footer */
main {
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
.site__content {
    display: flex;
    flex-flow: column wrap;
    align-items: inherit;
    font-family: 'Raleway', sans-serif;
    width: 100%;    
}
.site__content .content {
    padding-left: 10%;
    padding-right: 10%;
}
.site__content header {
    padding: none;
    margin: none;
    width: 100%;
}

.site__button {
    display: inline;
    color: white ;
    background-color: #B68869 ;
    font-family: 'laluxes';
    font-style: normal;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
}
.site__button a {
    color: white;
    text-decoration: none;
}
.page{
    font-family: 'Raleway', sans-serif;
    color : #474747;
}
.site__link {
    text-decoration: none;
    color: inherit !important;
}
a:link {
    color: inherit !important;
    text-decoration: none;
}
a:visited,
a:hover,
a:focus,
a:active {
    color: #474747;
    text-decoration: none;
}
li, ul {
    color: #474747;
    text-decoration: none;
    list-style: none;
}
/* nav {
    display: flex;
    width: 100%;
} */
.lunar-burger {
    border: none;
    color: #b68869;
    background-color: transparent;
    width: 4em;
    font-size: x-large;

}

p {
    font-size: smaller;
    margin-top: 2px;
    margin-bottom : 2px !important;
}


/******* Images sizes & css ******/

.square__S {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.square__M {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.square__L {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/******* Header : logo + menu ******/
.site__header header {
    padding: none;
}
.site__header {
    width: 100% ;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    color : #474747;
    font-family: 'Raleway', sans-serif;
    text-decoration : none;
    padding-top: 3px;
    font-family: 'Raleway', sans-serif !important;
}
.site__title {
    display: none;
}
.custom-logo {
    width: auto;
    margin: 10px;
    padding-right: 20px !important;
}
.site__header__menu {
    display: flex !important;
    justify-content: flex-end !important;
}

.header__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin: 5px;
}

.header__menu li a {
    padding-right: 2em;
    font-family: 'Raleway', sans-serif !important;
}

.menu-item a {
    color: #474747 ;
}
/******* Footer : social, footer menu, legals ******/
.site__footer footer {
    padding: none;
}
.menus__footer {
    display: flex !important;
    flex-direction: column;
}
.site__footer {
    background-color: #F5F1ED;
    width: 100% ;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    color : #474747;
    text-decoration : none;
    padding-top: 3px;
    font-size: smaller;
    font-family: 'Raleway', sans-serif !important;
    
}
.site__footer__menu, .footer__social__menu {
    display: flex;
    justify-content: space-around;
    margin: 3px;
}
.footer__menu li  {
    padding-right: 1em;
    padding-left: 1em;
    font-family: 'Raleway', sans-serif !important;
}
/* menu social FONTAWESOME */
.menu-social li {
    font-family: 'Fontawesome';
    font-size: 1.4em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    color: #785338;
}

.footer__menu, .social__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 3px;
    margin: 3px;
    
}
.site__footer__legals {
    background-color: #EEE8E1;
    color : #474747;
    font-size: 10px !important;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 5px;
    width: 100%;
}



/******* Page : header, title ******/
.page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 7.2em;
    background-color: #EEE8E1;
    margin-bottom: 20px ;
}
.page__title {
    font-size: 3.2em;
}
.page__content {
    margin-left : 20px !important;
    margin-right: 20px !important;
}
.section__title {
    border: none;
    color: #474747 !important;
    margin: 3px ;
    width: 100%;
    padding: 0.5em;
    text-transform: uppercase !important;
}
 
.archive__description {
    height: 18px;
}

/***** Blog home page *****/
.site__blog img {
    width: auto;
} 
.site__blog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-right: 20px !important;
    padding-left: 20px !important;

}
.site__post {
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    width: 18em;
    margin-right: 2em;
    margin-left: 2em;
    text-align: justify;
}

/*** Post, articles de blog ***/
.site__post__content {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}

.site__post__content img {
    width: 728px !important;
}
.site__post__meta__container {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.site__post__meta ul{
    text-decoration: none !important;
    list-style: none !important;
    margin: 3px;
    padding: 3px;
}
.site__post__meta {
    font-size: 0.5em;
    font-weight: 300;
    margin: 3px;
    padding: 3px;
}
.site__post__container {
    display: flex;
    justify-content: center;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
.site__post__container p {
    margin-left: 4em !important ;
    margin-right: 4em !important;
}
img .site__post__container {
    width: 400px;
    height: auto;
    margin-left: 4em !important ;
    margin-right: 4em !important;
}




/****** Témoignages : post + archive ******/

.temoignages__page {
    margin: 0.5em;
    padding-right: 20px !important;
    padding-left: 20px !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.temoignages {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-block: 1em;
    text-align: center;
}
.temoin__picture img {
    width: 50%;
    border-radius: 50%;
}
.temoin__name {
    margin: none !important;
    color: #785338;
    text-align: center;
}
.temoin__text {
    width: 250px;
}
.temoin__text p{
    text-align: center;
    font-size: 0.6em !important;
} 


/* Social menu icon FONTAWESOME */
.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }
.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-social li a[href*="foursquare.com"]::before { content: '\f180'; }
.menu-social li a[href*="github.com"]::before { content: '\f09b'; }
.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }
.menu-social li a[href*="jsfiddle.com"]::before { content: '\f1cc'; }
.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-social li a[href*="reddit.com"]::before { content: '\f1a1'; }
.menu-social li a[href*="soundcloud.com"]::before { content: '\f1be'; }
.menu-social li a[href*="stackoverflow.com"]::before { content: '\f16c'; }
.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-social li a[href*="vine.co"]::before { content: '\f1ca'; }
.menu-social li a[href*="yelp.com"]::before { content: '\f1e9'; }
.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }
.menu-social li a[href*="wordpress.com"]::before { content: '\f19a'; }
.menu-social li a[href*="wordpress.org"]::before { content: '\f19a'; }

.menu-social  a:link {text-decoration: none;}
.menu-social  a:visited {text-decoration: none;}
.menu-social a:hover { text-decoration: none;}
.menu-social  a:active { text-decoration: none;}
